.pagar {
  padding-right: 30px;
  padding-left: 5px;
}

#columna2 {
  border-left: 1px solid #ebebf3;
  padding-left: 2%;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#card-form {
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: white;
}

.boton-pago {
  margin-top: 20px;
  background-color: rgb(44, 109, 44);
  color: white;
  padding: 10px;
  border-radius: 3%;
  width: 100%;
  font-size: large;
  box-shadow: 0 0 10px #dadada;
  font-weight: bold;
}

.boton-pago:hover {
  background-color: green;
}

#superdiv {
  display: flex;
  width: 100%;
  background-color: #dadada;
}

.componente-carritos {
  width: 100%;
  margin: 0;
}

#botondeconfirmacionpago {
  padding: 2%;
  font-size: xx-large;
  font-weight: bold;
  width: 100%;
}
