h2 {
  padding-bottom: 20px;
  text-align: center;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
}

.error-activo {
  display: block;
}

.imagenlogo {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 40%;
  margin-left: auto;
  margin-right: auto;
}

.logosinguptwo {
  padding-left: 30%;
  padding-right: 30%;
}

.grupoInput {
  position: relative;
  z-index: 90;
}

.signupboton {
  display: flex;
  flex-direction: column;
}

b {
  margin-left: 5px;
}

.errorRegistro {
  justify-content: center;
  padding: 25%;
}
